Makefile.in
mainprogs/invert/invert
mainprogs/mesons/mesons
mainprogs/baryons/baryons
mainprogs/multiq/multiq
mainprogs/eigens/eigens
mainprogs/overlap-kl/normality/normality
mainprogs/overlap-kl/ginsparg-wilson-relation/ginsparg-wilson-relation
mainprogs/overlap-kl/locality/locality
mainprogs/overlap-kl/invert/invert
testprogs/ape_3d/ape_3d
testprogs/stout_3d/stout_3d
testprogs/op/op
testprogs/source_rms/source_rms
*~
*.dat
*.a
*.o
*.d
*.*~
